AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_REGION=sa-east-1

DYNAMODB_ENDPOINT=http://localhost:8000
SQS_ENDPOINT=http://localhost:9324
SQS_QUEUE_NAME=onboarding-queue
DYNAMODB_TABLE_NAME=onboarding-executions

APP_PORT=8080
